{% include 'header.html' %}
	<div class="main">
		<div class="categories">
			<h2>Categories</h2>
			<ul>
				<li><a href="{{url_for('showCatalog')}}">All Categories</a>
				</li>
				{% for category in categories %}
				<li><a href="{{url_for('showCategory', categories_id = category.id)}}">{{category.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% if category %}
		<div class="items">
			<h2>{{category.name}}</h2>
			<ul>
				<li><a href="{{url_for('addItem',categories_id=category.id)}}">Add Item</a>
				</li>
				{% for item in items %}
				<li><a href="{{url_for('showItem', items_id = item.id)}}">{{item.name}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div class="items">
			<h2>New Items</h2>
			<ul>
				{% for item in items %}
				<li><a href="{{url_for('showItem', items_id = item.id)}}">{{item.name}} ({{item.categories.name}})</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
</body>
</html>